Repository readmeio/api, pull requests merged in 2023-11, with the labels that each got.

#808 chore(deps): upgrading `oas` to its latest release
  package-lock.json
  package.json
  packages/api/package.json
  packages/api/src/codegen/languages/typescript/index.ts
  packages/api/src/fetcher.ts
  packages/api/src/lib/suggestedOperations.ts
  packages/api/src/storage.ts
  packages/api/test/lib/suggestedOperations.test.ts
  packages/api/test/storage.test.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/lib/getJSONSchemaDefaults.ts
  packages/core/src/lib/prepareAuth.ts
  packages/core/src/lib/prepareParams.ts
  packages/core/test/lib/prepareAuth.test.ts
  packages/httpsnippet-client-api/package.json
  packages/httpsnippet-client-api/src/index.ts
  packages/httpsnippet-client-api/test/__datasets__/alternate-server/index.ts
  packages/httpsnippet-client-api/test/__datasets__/application-form-encoded/index.ts
  packages/httpsnippet-client-api/test/__datasets__/application-json/index.ts
  packages/httpsnippet-client-api/test/__datasets__/auth-apikey-cookie/index.ts
  packages/httpsnippet-client-api/test/__datasets__/auth-apikey-header/index.ts
  packages/httpsnippet-client-api/test/__datasets__/auth-basic-full/index.ts
  packages/httpsnippet-client-api/test/__datasets__/auth-basic-password-only/index.ts
  packages/httpsnippet-client-api/test/__datasets__/auth-basic-username-only/index.ts
  packages/httpsnippet-client-api/test/__datasets__/auth-bearer/index.ts
  packages/httpsnippet-client-api/test/__datasets__/auth-query/index.ts
  packages/httpsnippet-client-api/test/__datasets__/cookies/index.ts
  packages/httpsnippet-client-api/test/__datasets__/full-many-query-params/index.ts
  packages/httpsnippet-client-api/test/__datasets__/full/index.ts
  packages/httpsnippet-client-api/test/__datasets__/headers/index.ts
  packages/httpsnippet-client-api/test/__datasets__/http-insecure/index.ts
  packages/httpsnippet-client-api/test/__datasets__/issue-128/index.ts
  packages/httpsnippet-client-api/test/__datasets__/issue-76/index.ts
  packages/httpsnippet-client-api/test/__datasets__/issue-78-operationid/index.ts
  packages/httpsnippet-client-api/test/__datasets__/issue-78/index.ts
  packages/httpsnippet-client-api/test/__datasets__/jsonObj-multiline/index.ts
  packages/httpsnippet-client-api/test/__datasets__/jsonObj-null-value/index.ts
  packages/httpsnippet-client-api/test/__datasets__/multipart-data/index.ts
  packages/httpsnippet-client-api/test/__datasets__/multipart-file/index.ts
  packages/httpsnippet-client-api/test/__datasets__/multipart-form-data-no-params/index.ts
  packages/httpsnippet-client-api/test/__datasets__/multipart-form-data/index.ts
  packages/httpsnippet-client-api/test/__datasets__/operationid-non-alphanumerical/index.ts
  packages/httpsnippet-client-api/test/__datasets__/operationid-with-underscores/index.ts
  packages/httpsnippet-client-api/test/__datasets__/parameter-special-characters/index.ts
  packages/httpsnippet-client-api/test/__datasets__/petstore/index.ts
  packages/httpsnippet-client-api/test/__datasets__/query/index.ts
  packages/httpsnippet-client-api/test/__datasets__/short/index.ts
  packages/httpsnippet-client-api/test/__datasets__/text-plain/index.ts
  packages/httpsnippet-client-api/test/index.test.ts
  packages/test-utils/package.json
  packages/test-utils/vitest.matchers.ts
Labels: dependencies

#799 test: add tests for CLI commands
  packages/api/.eslintrc
  packages/api/src/bin.ts
  packages/api/src/commands/install.ts
  packages/api/src/commands/uninstall.ts
  packages/api/src/logger.ts
  packages/api/test/commands/__snapshots__/install.test.ts.snap
  packages/api/test/commands/__snapshots__/list.test.ts.snap
  packages/api/test/commands/__snapshots__/uninstall.test.ts.snap
  packages/api/test/commands/install.test.ts
  packages/api/test/commands/list.test.ts
  packages/api/test/commands/uninstall.test.ts
Labels: enhancement, refactor, area:api

#809 feat: add example code snippet to README
  packages/api/src/codegen/codegenerator.ts
  packages/api/src/codegen/languages/typescript/index.ts
  packages/api/src/commands/install.ts
  packages/test-utils/sdks/alby/README.md
  packages/test-utils/sdks/metrotransit/README.md
  packages/test-utils/sdks/operationid-quirks/README.md
  packages/test-utils/sdks/petstore/README.md
  packages/test-utils/sdks/readme/README.md
  packages/test-utils/sdks/star-trek/README.md
Labels: enhancement, area:api

#810 fix(httpsnippet-client-api): making external deps no longer external
  package-lock.json
  packages/core/tsup.config.ts
  packages/httpsnippet-client-api/package.json
  packages/httpsnippet-client-api/src/index.ts
  packages/httpsnippet-client-api/tsup.config.ts
Labels: bug, area:snippets

#815 feat(api): import schemas in the types file as types
  packages/api/src/codegen/languages/typescript/index.ts
  packages/test-utils/sdks/alby/src/types.ts
  packages/test-utils/sdks/metrotransit/src/types.ts
  packages/test-utils/sdks/optional-payload/src/types.ts
  packages/test-utils/sdks/petstore/src/types.ts
  packages/test-utils/sdks/readme/src/types.ts
  packages/test-utils/sdks/response-title-quirks/src/types.ts
  packages/test-utils/sdks/simple/src/types.ts
  packages/test-utils/sdks/star-trek/src/types.ts
Labels: enhancement, area:api

#818 feat(api): small CLI quality-of-life changes
  package-lock.json
  packages/api/package.json
  packages/api/src/bin.ts
  packages/api/src/lib/isCI.ts
  packages/api/src/lib/prompt.ts
Labels: enhancement, area:api

#819 test: run `tsc` on SDK fixtures
  packages/test-utils/tsconfig.json
  tsconfig.base.json
Labels: enhancement, refactor, area:api
