Repository readmeio/api, pull requests merged in 2024-02, with the labels that each got.

#854 feat: avoid modifying the response object when calling response.text()
  packages/core/src/lib/parseResponse.ts
  packages/core/test/lib/parseResponse.test.ts
Labels: enhancement

#855 fix: ensure prepareServer respects server variables when custom url is the same as the OAS url
  packages/core/src/lib/prepareServer.ts
Labels: bug

#857 fix: package name for ESM syntax
  packages/api/README.md
Labels: documentation, area:api

#856 feat(api): export SDK
  packages/api/src/codegen/languages/typescript/index.ts
  packages/test-utils/sdks/alby/package.json
  packages/test-utils/sdks/alby/src/index.ts
  packages/test-utils/sdks/alby/src/sdk.ts
  packages/test-utils/sdks/metrotransit/package.json
  packages/test-utils/sdks/metrotransit/src/index.ts
  packages/test-utils/sdks/metrotransit/src/sdk.ts
  packages/test-utils/sdks/operationid-quirks/package.json
  packages/test-utils/sdks/operationid-quirks/src/index.ts
  packages/test-utils/sdks/operationid-quirks/src/sdk.ts
  packages/test-utils/sdks/optional-payload/package.json
  packages/test-utils/sdks/optional-payload/src/index.ts
  packages/test-utils/sdks/optional-payload/src/sdk.ts
  packages/test-utils/sdks/petstore/package.json
  packages/test-utils/sdks/petstore/src/index.ts
  packages/test-utils/sdks/petstore/src/sdk.ts
  packages/test-utils/sdks/readme/package.json
  packages/test-utils/sdks/readme/src/index.ts
  packages/test-utils/sdks/readme/src/sdk.ts
  packages/test-utils/sdks/response-title-quirks/package.json
  packages/test-utils/sdks/response-title-quirks/src/index.ts
  packages/test-utils/sdks/response-title-quirks/src/sdk.ts
  packages/test-utils/sdks/simple/package.json
  packages/test-utils/sdks/simple/src/index.ts
  packages/test-utils/sdks/simple/src/sdk.ts
  packages/test-utils/sdks/star-trek/package.json
  packages/test-utils/sdks/star-trek/src/index.ts
  packages/test-utils/sdks/star-trek/src/sdk.ts
Labels: enhancement, area:api
